/* Background color */
.darkpink-bg{
    background-color: #fcb8b8;
}

/* Tipografías */
body{
    font-family: 'Quicksand', sans-serif;
    background-color: #fcefef;
}
nav, h1, h3, footer .col-sm-6 h5, footer .row .col-12 p:first-child{
    font-family: 'Playfair Display', serif;
}
h1,h3,h5,nav{
    letter-spacing: 0.2em;
}
h2{
    letter-spacing: 0.5em;
}
.card-body{
    letter-spacing: 0.1em;
}
#index-jumbotron, .btn{
    letter-spacing: 0.3em;
}
h1{
    font-size: 3.5em;
    -webkit-text-stroke: 3px #fcacac;
    -webkit-text-fill-color: #fcacac;
    -webkit-animation: fill 0.5s infinite alternate;
}
h2, .jumbotron h3, .jumbotron p{
    -webkit-text-stroke: 2px #fcacac;
    -webkit-text-fill-color: #fcacac;
    -webkit-animation: fill 0.5s infinite alternate;
}

/* Header */
#carousel-header > .carousel-inner > .carousel-item > img {
    max-height: 800px; 
}

/* Carrusel Shop */
.imagen-producto {
    height: 400px;
}
#carousel-shop a i{
    color: #fcacac;
}
#carousel-shop a i:hover{
    color: #fa6363;
}

/* Caption imágenes shop */
.card-img-caption {
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
}
.card-img-caption .card-img-top {
    z-index: 0;
}  
.card-img-caption .card-text {
    text-align: right;
    width: 100%;
    margin-top: 5%;
    position: absolute;
    z-index: 1;
}

/*Efecto imagen Shop*/
.column#caption {
    position: relative;
}
.column#caption .text {
    position: absolute;     
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    opacity: 0;
    transition: all 0.8s ease;          
}
.column#caption .text h2 {      
    margin: 0;      
    color: #fbb9b9;
}
.column#caption:hover .text {
    opacity: 1;
}
.card img:hover{
    filter: blur(1px) opacity(25%) hue-rotate(310deg);
}

/* Jumbotron */
#index-jumbotron{
    background-size: 100% 100%;
    height: 100%;
    background-repeat: no-repeat;
    overflow: hidden;
}

/* Quiénes somos */
.us-img{
    border-radius: 50%;
    width: 100%;
    overflow: auto;
}

/* Footer */
footer i{
    font-size: x-large;
}
footer ul{
    list-style: none;
}
footer ul li{
    line-height: 2;
}
footer a{
    color: #FFF;
}
footer .footer-icons{
    line-height: 2.5;
}
footer p{
    overflow: auto;
}

/* Botón Whatsapp */
.whatsapp {
    position:fixed;
    width:60px;
    height:60px;
    bottom:1.5%;
    right:1%;
    background-color:#25d366;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:30px;
    z-index:100;
}
.whatsapp-icon {
    margin-top:13px;
}

/* Modal */
.modal{
    background: rgba(000, 000, 000, 0.8);
}
.modal-dialog{
    overflow:visible;
    min-height: 100%!important;
    min-width: 50%!important;
}
.modal-img-height{
    max-width: 100%;
    height: 100%;
}
.modal-body{
    background-color: #fcefef;
}