.titulo {
    text-align-last: center;
    text-decoration-line: underline;
}

body {
    background-color: thistle;
    font-family: 'Courier New', Courier, monospace;
}

img {
    height: 300px;
    width: 300px;
}

.row {
    height: 100%;
    display: flex;
}

.columnas {
    padding: 30px;
    height: 100%;
}

.izquierda {
    width: 50%;
    background-color: skyblue
}

.derecha {
    width: 50%;
    background-color: slategrey;
}

h1:first-letter{
    color: blueviolet;
}

h2:first-letter{
    color: darkslateblue;
}

tr:first-of-type{
    color: blueviolet;
}

tr:last-child{
    color: crimson;
}

ol li{
    color: darkmagenta;
}

a:hover{ 
    text-decoration: overline;
    background-color: brown;
  }
  a:active{ 
    background-color: yellow;
  }
  a:link{ 
    color: green;
  }
  
  p:after {
    content: "challenge css";
    color: blue;
  }